*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
}
body{
    background: #4949FD;
}

/* this is the header part of the code */
header{
    display: flex;
    top:0;
    left:0;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    z-index: 100;
    width:100%
}
.logo img{
    margin:0 0 0 3.94rem ;
    width:5.3vw;
}
nav{
    display: flex;
    gap:40px;
    margin:0  3.93rem 0  0;
}
nav a{
    color:#000;
    text-decoration: none;
    padding:0.78vw 0px;
/* font-family: Poppins; */
font-size: 1.25vw;
font-weight: 300;

}
nav div{
    display: flex;
  
}
.signin{
    background: #fff;
    border:1px solid;
    padding:0.85vw 1.32vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    background: #000;
    color:white;
    display: flex;
    padding:0.85vw 3.12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    margin:22.96vw   5.4vw 0 8.75vw;
   
    justify-content: space-between;

}
/* this is the hero section of the code */
main h1{
    display: flex;
    color: #FFF;
/* font-family: Raleway; */
font-size: clamp(14px, 3.12vw, 60px);
font-weight: 800;
margin-bottom: 20px;
}
main p{
    display: flex;
 max-width: 623px;
 width:100%;
    color: #FFF;
/* font-family: Poppins; */
font-size: clamp(10px, 1.4vw, 22px);
font-weight: 400;
margin-bottom: 31px;
}
main button{
    padding:0.78vw 1.32vw;
    color: #000;
/* font-family: Poppins; */
font-size: 1.17vw;
font-weight: 600;
cursor:pointer;
margin-right:2.34vw;

}
main a{
    color: #FFF;
/* font-family: Poppins; */
font-size: 1.25vw;
font-weight: 400;
text-decoration: none;
cursor:pointer;
}
.imgbg {
    background: url(assets/Doodle\ Pattern\ Palette\ 1.png  ) no-repeat center/cover ;
    width: clamp(100px, 30vw, 500px);
    height: clamp(100px, 30vw, 500px);
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    margin-left:100px;

}
.imgbg img{
    width: clamp(100px, 30vw, 500px);
    height: clamp(100px, 34.1vw, 500px);

    
}
.section-header{
    color:#fff;
    margin:19.82vw   5.4vw 3.67vw 8.75vw;
    font-size:3.36vw;

}
.cards-container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;;
}
.cards{
    display:grid;  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap:6.64vw;
    width:82.65%;
    
    }
   
    .card{
        display: flex;
        height: 26.71vw;
        background: #fff;
        /* font-family: Raleway; */
        font-size: 4.16vw;
        font-weight: 700;
        align-items:end;
        justify-content: space-evenly;
        
        
    }
    .card img{
width:3.12vw;
height:3.12vw;
margin:0 1.56vw 1.56vw 0;
 }
 .card p{
    margin:0 0 1.56vw 1.56vw;
 }
   
.our_services button{
    padding:0.78vw 1.95vw;
    display: flex;
    align-items: center;
/* font-family: Poppins; */
font-size: 1.95vw;
font-weight: 700;
position: relative;
left:70.15%;
background: #fff;
border:0;
outline:0;
cursor:pointer;
margin-top:5vw;
}
.our_services button img{
   width: 2.75vw;
}

.sch-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
gap:30px;
}
.sch-card{
    display: flex;
    justify-content: center;
    width:100%;
}
.sch-card div{
background: #fff;
width: 22.03vw;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.sch-card img{
    width:51.79vw;
    height: 23.35vw;
}
.sch-card h2{
    color: #000;
    font-size: 3.07vw;
    font-weight: 500;
    padding:1.17vw 1.56vw;
}
.sch-txt{
    color: #000;
    font-size: 1.55vw;
    font-weight: 300;
    padding:1.17vw 1.56vw;
    box-sizing: border-box;
}
.premium-sch{
    display: flex;
    justify-content: center;
    align-items: center;
    width:73.82vw;
    height: 23.35vw;
    background: #000;
}
.premium-sch img{
   width: 4.29vw
}
footer{
    display: flex;
    align-items: center;
    gap: 12.73vw;
    background: #FFF;
    justify-content: space-between;
    margin-top:5vw;
  }
  .footer-logos{
    display: flex;
    gap:51px;
    margin:1.32vw 1.71vw;
    
    
  }
  .footer-logos img{
    width:5.3vw;
  }
  .footer-info{
    display: flex;
    gap:30px;
    margin-right: 50px;
    font-size: 1.25vw;

  }
  .info1{
    display: flex;
    gap:30px;
    font-size: 1.25vw;

  }
  footer a{
    text-decoration: none;
    color:#000;

  }
  .hover-text{
    font-size:2.2vw;
    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding:3.12vw;
    background: #000;
    color:#fff;
    
}
