:root{
    --primary-color:#4949FD;
}
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 3.93rem;
    height: 103px;
}
nav{
    display: flex;
    gap:40px;
    font-size:1.13rem;
}
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
}
.sign-in{
border:1px solid black;
max-width:91px;
max-height: 45px;
padding:9px 11px;
border-radius: 8px;
font-size:1.2rem;
}
.log-in{
border:1px solid black;
max-width:91px;
max-height: 45px;
padding:9px 28px;
border-radius: 8px;
color:#fff;
background-color: #000;
font-size:1.2rem;

   
}
section{
    background: var(--primary-color);

}
.section-1{
    display: flex;
}
.heor{
    display: flex;
    justify-content: space-between;
    
}
.hero h1{
    max-width:623px;
    font-size:285%;
    width:100%;
    color:#fff;
    padding:11.68rem 0 0 3.93rem;
   
}
.hero > p{
    max-width:610px;
    font-size:1.15rem;
    color:#fff; 
    padding:1.5rem 0 0 3.93rem;
}
.hero-btn{
    display: flex;
    width:290px;
    height: 48px;
    gap:10px;
    padding:1.7rem 0 0 3.93rem;    
}
.hero-btn p{
display: flex;
align-items: center;
font-size: 1.15rem;

}
.hero-btn button{
    width:148px;
    height: 48px;
    font-weight:600;
    font-size: 1.15rem;
    border-radius: 8px;
    border:0;
}
.bg-div{
    width:574px;
    height: 500px;
    background: white;
    margin:9.62rem 0 0 4.62rem;
    border-radius:20px; 
    position:relative;
    margin-bottom:100px;

}
.bg-div img{
    width:551px;
    height: 555px;
    position:absolute;
    top:-55px;
}

.section-2 h2{
    color:white;
    margin:0 0 5rem 3.93rem;
    font-size:2.68rem;
    
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(3,1fr);
    gap:86px;
    margin-left:8rem;
    width:1240px;
}
.card{
    width:584px;
    height: 412px;
    background: #fff;
}
@media(max-width:1024px){
    html{
        font-size:15px;
    }
}
